* { box-sizing: border-box; }
body {
    font-family: "Open Sans";
    background-color:#f1c40f;
}
.nav {
    background-color: #D64541;
    position: fixed;
    width:100%;
    top:30;
    margin-left:20;
    margin-top:0px;
}
.nav ul li {
    display:inline-block;
    padding: 10px 10px 10px;    
}
.nav ul li a{
    color:black;
    text-transform: uppercase;
    letter-spacing: 0.025em;
}
.nav a:hover {
    color:#f1c40f;
    text-decoration: none;
    transition: color 300ms;
    webkit-transition: color;
}
.container {
    width:80%;
    margin:0 auto;
}
.jumbotron {
    background-color: #F39C12;
    margin-top: 78px;
}
.header h1{
    font-family:"Julius Sans One";
    text-align: center;
    margin-top: 400 px;
    background-color: #d35400;
    background-color: #F39C12;
}
.image {
    display: inline-block;
    float: left;
    margin-bottom: 20px;
}
.column {
    display: inline-block;
    float: left;
    padding: 0 20px;
    width:30%;
 }
 #skill_list {
    text-align:left;
}
.main_text {
    clear:both;
    padding: 10px 30 px 0 60px;
    margin-bottom: 80px;
}
.panel-collapse {
    margin-top: 78px;
}

