.jumbotron {
	background-color: #F39C12;
	margin-top: 78px;
}
body {
	font-family: "Open Sans";
	text-align: center;
	background-color:#f1c40f;

}

.contact_information {
	background-color: #D64541;
display:inline-block;
position:centered;
width: 30%;
}
body .nav {
	text-align: left;
}
.nav {
	background-color: #D64541;
	position: fixed;
	width: 100%;
	top:30;
	margin-left:20;
	top:0;
}
.nav ul li {
	display:inline-block;
	padding: 10px 10px 10px;	
}
.nav ul li a{
	color:black;
	text-transform: uppercase;
	letter-spacing: 0.025em;
}
.nav a:hover {
	color:#f1c40f;
	text-decoration: none;
	transition: color 300ms;
	webkit-transition: color;
}