/*Navigation*/
.navbar-collapse {
    text-transform: uppercase;
    float:right;
    color:#7d6472;
}

.navbar {
    background-color:#B5ABB1;
}

.container {
    width:80%;
    margin:0 auto;
}
.jumbotron {
    background-color: #7D6472;
}

.projectname a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    padding:13px;
    float:left;
    color:white;
}


/*General*/
body {
    background-color:#E2D5D5;
    text-family:"Open Sans";
    position:relative;
}

/*home*/
.jumbotron {
	background-size: cover;
}
.jumbotron h1{
	color:#E2D5D5;
}
.jumbotron p {
	color: white;
}
.quicklinks {
    color:black‚;
}
#carousel-example-generic {
	padding-top:0px;
}

/*ABOUT.CSS*/
* { box-sizing: border-box; }

.header h1{
    font-family:"Julius Sans One";
    text-align: center;
    margin-top: 400 px;
    background-color: #d35400;
    background-color: #F39C12;
}
.image {
    display: inline-block;
    float: left;
    margin-bottom: 20px;
}
.column {
    display: inline-block;
    float: left;
    padding: 0 20px;
    width:30%;
 }
 #skill_list {
    text-align:left;
}
.main_text {
    clear:both;
    padding: 10px 30 px 0 60px;
    margin-bottom: 80px;
}
/*FAQ*/
.panel-group {
    margin-top: 0px;
    width:100%;
    position: centered;
    display:inline-block;
}
.panel-group a:hover {
	color:#7D6472;
	text-decoration: none;
	transition: color 300ms;
	webkit-transition: color;
}
.panel-heading {
	background-color: #F39C12;
}

/*CONTACT.CSS*/
.contact_information {
margin-left: auto;
margin-right: auto;
width: 30%;
}

#contact {
    background-image: url("../img/cbackground.jpg");
    background-attachment: fixed;
    background-size: cover;
    color:black;
    padding:100px;
    padding-top: 50px;
    height: 600px;
    padding-bottom:600px;
}
.contact a:hover{
    text-decoration: none;
    transition: color 300ms;
    color:white;
}
.form-control{
    width:99%;
}

/*work*/
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
  /*footer*/
.footer {
    padding-top:300px;
    color:white;
}
.footer a{
    padding-bottom: 500px;
}
#footer p{
    float:right !important; 
}