/*Navigation*/
.navbar-collapse {
    text-transform: uppercase;
    float:right;
}

.navbar li a:visited, .navbar li a:link{
    color: #7d6472;
}
.navbar {
    background-color:#B5ABB1;
}
.projectname a{
    color:white;
}

/*General*/
body {
    background-color:#E2D5D5;
    text-family:"Open Sans";
    position:relative;
}
.container {
    width:80%;
    margin:0 auto;
}
.jumbotron {
    background-color: #7D6472;
    background-size: cover;
}
.jumbotron h1{
    color:#E2D5D5;
}
.jumbotron p {
    color: white;
}
.jumbotron a{
    color:black;
}


/*home*/

.quicklinks {
    color:black‚;
}
#carousel-example-generic {
	padding-top:0px;
}

/*header*/
#header p{
    color:white;
}
.learn-more{
    text-align:left;
    float:left;
}
.btn {
    padding:5px;
    font-size:21px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*ABOUT.CSS*/


/*FAQ*/
.panel-group {
    margin-top: 0px;
    width:100%;
    display:inline-block;
}
.panel-group a:hover {
	color:#7D6472;
	text-decoration: none;
	transition: color 300ms;
	webkit-transition: color;
}


/*CONTACT.CSS*/
.contact {
    background-image: url("../img/cbackground.jpg");
    background-size: cover;
    background-attachment: fixed;
    color:black;
    padding: 50px;
    padding-top: 50px;
}

.form-control{
    width:99%;
}

/*work*/
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.modal-body {
    height:500px;
}

#cv {
    padding:10px;
    width:100%;
    height:100%;
}
.image {
    box-sizing:border-box;
    border:5px solid;
    border-color:#fff;
    width:200px;
    height:200px;
    margin:5px;
    display:inline-block;
    position:relative;
}
.info {
    display:inline-block;
    color:#3E2634;
    font-family:Futura;
    text-transform:uppercase;
    font-weight:700;
    letter-spacing:0.5em;
    line-height:1.6;
    position:absolute;
    top:15%;
    left:22%;
}
.proj-title {
    font-weight:100;
}

  /*footer*/

.twitter-follow-button {
    float:right;
    position:inline;
}
