/*Navigation*/
.nav {
    background-color: #D64541;
    position: fixed;
    width: 100%;
    margin-left:20;
    z-index:1;
}
.nav ul li {
    display:inline-block;
    padding: 10px 10px 10px;    
}
.nav ul li a{
    color:black;
    text-transform: uppercase;
    letter-spacing: 0.025em;
}
.nav a:hover {
    color:#f1c40f;
    text-decoration: none;
    transition: color 300ms;
    webkit-transition: color;
}
/*General*/
body {
    background-color:#f1c40f;
    text-family:"Open Sans";
}

/*home*/
.jumbotron {
	background-size: cover;
}
.jumbotron h1{
	color:white;

}
.jumbotron p {
	color: white;
}
html { 
  background: url(img/heroheader.jpg) no-repeat center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#carousel-example-generic {
	padding-top:0px;
}

/*ABOUT.CSS*/
* { box-sizing: border-box; }
.container {
    width:80%;
    margin:0 auto;
}
.jumbotron {
    background-color: #F39C12;
}
.header h1{
    font-family:"Julius Sans One";
    text-align: center;
    margin-top: 400 px;
    background-color: #d35400;
    background-color: #F39C12;
}
.image {
    display: inline-block;
    float: left;
    margin-bottom: 20px;
}
.column {
    display: inline-block;
    float: left;
    padding: 0 20px;
    width:30%;
 }
 #skill_list {
    text-align:left;
}
.main_text {
    clear:both;
    padding: 10px 30 px 0 60px;
    margin-bottom: 80px;
}
/*FAQ*/
.panel-group {
    margin-top: 78px;
    width:70%;
    position: centered;
    display:inline-block;
}
.panel-group a:hover {
	color:#D64541;
	text-decoration: none;
	transition: color 300ms;
	webkit-transition: color;
}
.panel-heading {
	background-color: #F39C12;
}

/*CONTACT.CSS*/
.contact_information {
	background-color: #D64541;
margin-left: auto;
margin-right: auto;
width: 30%;
}


/*work.css*/
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;