.navbar {
    background-color: #B5ABB1;
    position: fixed;
    width: 100%;
    margin-left:20;
    z-index:1;
}
.navbar ul li {
    display:inline-block;
    padding: 10px 10px 10px;    
}
.navbar-collapse{
    color:#7D6472;
    text-transform: uppercase;
    letter-spacing: 0.025em;
}
.nav navbar-nav a:hover {
    color:#f1c40f;
    text-decoration: none;
    transition: color 300ms;
    webkit-transition: color;
}
.nav {
    float:right;
}